.logo{
	width:50%
}

.logoRow{
	margin-bottom:0;
}
@media screen and (min-width: 480px) {
	.logo{
	width:25%
	}
}

nav{
	background-color:#930b0b;
}

footer.page-footer{
	background-color:#930b0b;
}

